{% extends "userBase.html" %} {% block content %}
<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome {{ user.first_name }} {{ user.last_name }}</h1>
  </div>

  {% if user.projects %}
  <div class="jumbotron">
    <form action="/search" method="get" class="my-4">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" id="projectNameFilter" name="searchProject" class="form-control" placeholder="Search by Project Name">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" id="statusNameFilter" name="searchStatus" class="form-control" placeholder="Search by Status Name">
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Projects</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr>
          <td>{{ project.name }}</td>
          <td>{{ project.description }}</td>
          <td class="text-center">
            <form action="/editProject" method="post">
              <input
                type="hidden"
                name="project_id"
                value="{{ project.project_id }}"
              />
              <button type="submit" class="btn btn-danger">Edit</button>
            </form>
          </td>
          <td class="text-center">
            <form action="/deleteProject" method="post">
              <input
                type="hidden"
                name="project_id"
                value="{{ project.project_id }}"
              />
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
          {% if project.status_id == 1 %}
            <td class="text-center">
              <p>Do not</p>
            </td>
            {% elif project.status_id == 2 %}
            <td class="text-center">
              <p>Doing</p>
            </td>
            {% elif project.status_id == 3 %}
            <td class="text-center">
              <p>Out of date</p>
            </td>
            {% elif project.status_id == 4 %}
            <td class="text-center">
              <p>Complete</p>
            </td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
    <p class="lead"></p>
    <a class="btn btn-lg btn-success" href="/newProject">New project</a>
  </div>
  {% else %}
  <div class="jumbotron">
    <div class="alert alert-warning text-center">
      <p>You don't have any projects in your list!</p>
      <p class="lead"></p>
      <a class="btn btn-lg btn-success" href="/newProject">New project</a>
    </div>
  </div>
  {% endif %} {% if user.tasks %}
  <div class="jumbotron">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Task</th>
        </tr>
      </thead>
      <tbody>
        {% for task in user.tasks %}
          <tr class="{{ task.getPriorityClasss() }}">
            <td>{{ task.description }}</td>
            <td class="text-center">
              <form action="/editTask" method="post">
                <input
                  type="hidden"
                  name="task_id"
                  value="{{ task.task_id }}"
                />
                <button type="submit" class="btn btn-danger">Edit</button>
              </form>
            </td>
            <td class="text-center">
              <form action="/deleteTask" method="post">
                <input
                  type="hidden"
                  name="task_id"
                  value="{{ task.task_id }}"
                />
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
            {% if task.status_id == 1 %}
            <td class="text-center">
              <p>Do not</p>
            </td>
            {% elif task.status_id == 2 %}
            <td class="text-center">
              <p>Doing</p>
            </td>
            {% elif task.status_id == 3 %}
            <td class="text-center">
              <p>Out of date</p>
            </td>
            {% elif task.status_id == 4 %}
            <td class="text-center">
              <p>Complete</p>
            </td>
            {% endif %} {% endfor %}
          </tr>
        </p>
      </tbody>
    </table>
    <p class="lead"></p>
    <a class="btn btn-lg btn-success" href="/newTask">New task</a>
  </div>
  {% else %}
  <div class="jumbotron">
    <div class="alert alert-warning text-center">
      <p>You don't have any tasks in your list!</p>
      <p class="lead"></p>
      <a class="btn btn-lg btn-success" href="/newTask">New task</a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
